*{
    padding: 0;
    margin: 0;
}

.window{
    width: 1000px;
    height: 300px;
    overflow: hidden;
}

.slide{
    width: 5000px;
    height: 300px;
    position: relative;
    display: flex;
    animation: 10s infinite linear slide;
    /* infinite linear 이게 무한반복 
    긍까 10초로 설정해놨으니까 키프레임 쓸때 10초가 총 100퍼 */
}

.slide div{
    width: 1000px;
    height: 300px;
}

@keyframes slide{
    0%{
        left: 0;
    }

    23%{
        left: 0;
    }

    33%{
        left: -1000px;
    }

    43%{
        left: -1000px;
    }

    53%{
        left: -2000px;
    }

    66%{
        left: -2000px;
    }

    75%{
        left: -3000px;
    }

    90%{
        left: -3000px;
    }

    100%{
        left: -4000px;
    }
}